.doctor-container{
    display: flex;
    margin-right: 20px;
}
.doctor-container img{
    width: 150px;
    height: 150px;
    margin-left: 100px;
    margin-right: 20px;
    border: 5px solid #0390b2;
    border-radius: 50%;
}

.name{
    background-color: #ededed;
    
    color: black;
    display: flex;
    align-items: center;
    
    
}

.sub{
    margin-left: 5px;
    color: gray;

}
.icon{
    display: inline-block;
    margin-right: 10px;
    background-color: #4bbcd7;
    padding: 10px;
    color: white;
}
.email{
    font-weight: 700;
}
.email span{
    color: #4bbcd7;
}
.doctor-card{
    margin-bottom: 20px;
}
.more-icon{
    display: flex;
    margin-left: -5px;
}
.fa{
    width: 100%;
    height: 100%;
    
    
}
.more-icon a{
    line-height: 30px;
    border: 2px solid #c4c4c4;
    color: #7c7c7c;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    

}
.more-icon a:hover{
    background-color: #4bbcd7;
    color: white;
}
.title{
    font-size: larger;
}
.detail{
    margin: 15px 0;
}