/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

/* Tailwind Utility */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Raleway, sans-serif;
}

/* --------- Button Customization ---------- */

.btn {
  @apply text-base cursor-pointer focus:outline-none;
}

.btn-primary {
  @apply text-cyan-600 hover:text-white m-3 px-3 py-2 bg-transparent border border-cyan-500 hover:bg-cyan-500 shadow-cyan-300 shadow-sm hover:shadow-lg hover:shadow-cyan-300 focus:ring-1 focus:ring-cyan-500 transition duration-200 ease-in-out;
}

.btn-danger {
  @apply text-red-600 hover:text-white px-3 py-2 m-3 bg-transparent  focus:ring-1 focus:ring-red-500 border border-red-500 hover:bg-red-600 shadow-red-300 shadow hover:shadow-lg hover:shadow-red-400 transition duration-200 ease-in-out;
}

.input-field {
  @apply h-10 w-full border-b-2 text-left border-gray-400 text-gray-500 focus:text-cyan-600 placeholder:text-gray-400 focus:placeholder:text-cyan-600 focus:outline-none focus:border-cyan-500 focus:ring-0 border-0;
}

.btn-nav-hover {
  @apply text-gray-800 hover:bg-cyan-500 hover:text-white px-3 py-2 text-base font-semibold transition ease-in-out duration-200;
}

.btn-nav-active {
  @apply text-white bg-cyan-500 px-3 py-2 text-base font-semibold transition ease-in-out duration-200;
}

.btn-nav-toggler-hover {
  @apply text-gray-800 hover:bg-cyan-500 hover:text-white block px-3 py-2 text-base font-semibold transition ease-in-out duration-200;
}
.btn-nav-toggler-active {
  @apply text-white bg-cyan-500 block px-3 py-2 text-base font-semibold transition ease-in-out duration-200;
}

.btn-disclosure {
  @apply flex justify-between w-full px-4 py-2 text-sm font-medium text-left text-cyan-900 bg-cyan-100 hover:bg-cyan-200 focus:outline-none focus-visible:ring focus-visible:ring-cyan-500 focus-visible:ring-opacity-75;
}

/* --------- Height Customization ---------- */

.carousel-height {
  height: 70vh;
}
